<section class="block container">
    <header class="block__header">
      <h2>
        Host on the Cloud to Keep Growing 
      </h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores ratione commodi ipsam perferendis, incidunt quod.
      </p>
    </header>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
              <use xlink:href="img/sprite.svg#easy"></use>
          </svg>
      </span>
      <h3 class="feature__heading">
        Super Easy to Use
      </h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis eligendi assumenda ipsam, quis eos enim quos sapiente nemo! Officia, maiores.
      </p>
      <a class="link-arrow" href="#">Learn More</a>
      </div>
      <picture>
        <source type="img/webp" srcset="img/easy.webp 1x, img/easy.webp 2x">
        <source type="img/jpg" srcset="img/easy.jpg 1x, img/easy.jpg 2x">
        <img class="feature__image" src="./img/easy@2x.webp" alt="">
      </picture>
    </article>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
              <use xlink:href="img/sprite.svg#computer"></use>
          </svg>
      </span>
      <h3 class="feature__heading">
        Simply Fast Websites
      </h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis eligendi assumenda ipsam, quis eos enim quos sapiente nemo! Officia, maiores.
      </p>
      <a class="link-arrow" href="#">Learn More</a>
      </div>
      <picture>
        <source type="img/webp" srcset="img/fast.webp 1x, img/fast.webp 2x">
        <source type="img/jpg" srcset="img/fast.jpg 1x, img/fast.jpg 2x">
        <img class="feature__image" src="./img/fast@2x.webp" alt="">
      </picture>
    </article>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
              <use xlink:href="img/sprite.svg#wordpress"></use>
          </svg>
      </span>
      <h3 class="feature__heading">
        Wordpress Made Easy
      </h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis eligendi assumenda ipsam, quis eos enim quos sapiente nemo! Officia, maiores.
      </p>
      <a class="link-arrow" href="#">Learn More</a>
      </div>
      <picture>
        <source type="img/webp" srcset="img/wordpress.webp 1x, img/wordpress.webp 2x">
        <source type="img/jpg" srcset="img/wordpress.jpg 1x, img/wordpress.jpg 2x">
        <img class="feature__image" src="./img/wordpress@2x.webp" alt="">
      </picture>
    </article>
</section>